<div class="d-flex justify-content-between mt-3">
  <%- if controller_name != 'sessions' %>
    <%= link_to '立刻登录', new_session_path(resource_name), class: 'text-decoration-none' %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to '现在注册', new_registration_path(resource_name), class: 'text-decoration-none' %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to '找回密码', new_password_path(resource_name), class: 'text-decoration-none' %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to '重新发送', new_confirmation_path(resource_name), class: 'text-decoration-none' %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to '重新发送', new_unlock_path(resource_name), class: 'text-decoration-none' %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%# 分割线 %>
    <div class="w-100 position-relative mt-4">
      <hr class="text-300" />
      <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">第三方平台账号登录</div>
    </div>
    <div class="form-group mb-0">
      <div class="row no-gutters">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <div class="col-sm-6 pr-sm-1">
            <%= link_to "#{OmniAuth::Utils.camelize(provider)} 登录",
                        omniauth_authorize_path(resource_name, provider),
                        class: "btn btn-outline-#{provider} btn-sm btn-block mt-2" do %>
              <span class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span> <%= provider %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>