<%# 巨幕 开始 %>
<section id="banner" class="py-0 overflow-hidden">
  <div class="bg-holder overlay"></div>

  <div class="container">
    <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
      <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-left">
        <a class="btn btn-outline-danger mb-4 fs--1 border-2x rounded-pill" href="#!">
          <span class="mr-2" role="img" aria-label="Gift">🎁</span>Become a pro
        </a>
        <h1 class="text-white font-weight-light">Bring
          <span class="typed-text font-weight-bold" data-typed-text='["design","beauty","elegance","perfection"]'></span>
          <br />
          to your webapp
        </h1>
        <p class="lead text-white opacity-75">With the power of Falcon, you can now focus only on functionaries for your digital products, while leaving the UI design on us!</p>
        <a class="btn btn-outline-light border-2x rounded-pill btn-lg mt-4 fs-0 py-2" href="#!">Start building with the falcon
          <span class="fas fa-play" data-fa-transform="shrink-6 down-1 right-5"></span>
        </a>
      </div>
      <div class="col-xl-7 offset-xl-1 align-self-end">
        <%= link_to root_path, class: 'img-landing-banner' do %>
          <%= image_pack_tag 'dashboard-alt.png', class: 'img-fluid', alt: 'Dashboard' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%# 巨幕 结束 %>

<!-- 码头图 开始 -->
<section class="py-3 bg-light shadow-sm">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <%= image_pack_tag 'b&w/6.png', class: 'landing-cta-img', height: 40, alt: '' %>
      </div>
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <%= image_pack_tag 'b&w/11.png', class: 'landing-cta-img', height: 45, alt: '' %>
      </div>
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <%= image_pack_tag 'b&w/2.png', class: 'landing-cta-img', height: 30, alt: '' %>
      </div>
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <%= image_pack_tag 'b&w/4.png', class: 'landing-cta-img', height: 30, alt: '' %>
      </div>
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <%= image_pack_tag 'b&w/1.png', class: 'landing-cta-img', height: 35, alt: '' %>
      </div>
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <%= image_pack_tag 'b&w/10.png', class: 'landing-cta-img', height: 40, alt: '' %>
      </div>
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <%= image_pack_tag 'b&w/12.png', class: 'landing-cta-img', height: 40, alt: '' %>
      </div>
    </div>
  </div>
</section>
<!-- 码头图 结束 -->

<%# 网站导航 开始 %>
<section class="bg-dark pt-8 pb-4">
  <div class="container">
    <%# 返回顶部 %>
    <div class="position-absolute btn-back-to-top bg-dark">
      <a class="text-600" href="#banner" data-fancyscroll="data-fancyscroll">
        <span class="fas fa-chevron-up" data-fa-transform="rotate-45"></span>
      </a>
    </div>

    <div class="row">
      <%# 网站描述 %>
      <div class="col-lg-4">
        <h5 class="text-uppercase text-white opacity-85 mb-3">Our Mission</h5>
        <p class="text-600">Falcon enables front end developers to build custom streamlined user interfaces in a matter of hours, while it gives backend developers all the UI elements they need to develop their web app. And it's robust design can be easily integrated with backends whether your app is based on ruby on rails, laravel, express or any other serverside system.</p>
        <div class="icon-group mt-4"><a class="icon-item bg-white text-facebook" href="#!"><span class="fab fa-facebook-f"></span></a>
          <a class="icon-item bg-white text-twitter" href="#!"><span class="fab fa-twitter"></span></a>
          <a class="icon-item bg-white text-google-plus" href="#!"><span class="fab fa-google-plus-g"></span></a>
          <a class="icon-item bg-white text-linkedin" href="#!"><span class="fab fa-linkedin-in"></span></a>
          <a class="icon-item bg-white" href="#!"><span class="fab fa-medium-m"></span></a></div>
      </div>

      <%# 导航分组 %>
      <div class="col pl-lg-6 pl-xl-8">
        <div class="row mt-5 mt-lg-0">
          <%# 公司信息 %>
          <div class="col-6 col-md-3">
            <h5 class="text-uppercase text-white opacity-85 mb-3">Company</h5>
            <ul class="list-unstyled">
              <li class="mb-1"><a class="text-600" href="#!">About</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Contact</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Careers</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Blog</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Terms</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Privacy</a></li>
              <li><a class="text-600" href="#!">Imprint</a></li>
            </ul>
          </div>
          <%# 产品信息 %>
          <div class="col-6 col-md-3">
            <h5 class="text-uppercase text-white opacity-85 mb-3">Product</h5>
            <ul class="list-unstyled">
              <li class="mb-1"><a class="text-600" href="#!">Features</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Roadmap</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Changelog</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Pricing</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Docs</a></li>
              <li class="mb-1"><a class="text-600" href="#!">System Status</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Agencies</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Enterprise</a></li>
            </ul>
          </div>
          <%# 新闻信息 %>
          <div class="col mt-5 mt-md-0">
            <h5 class="text-uppercase text-white opacity-85 mb-3">From the Blog</h5>
            <ul class="list-unstyled">
              <li>
                <h5 class="fs-0 mb-0"><a class="text-600" href="#!">New components are ready to publish!</a></h5>
                <p class="text-600 opacity-50">Jan 15 &bull; 8min read </p>
              </li>
              <li>
                <h5 class="fs-0 mb-0"><a class="text-600" href="#!">January '19 New Features Newsletter</a></h5>
                <p class="text-600 opacity-50">Jan 5 &bull; 3min read &starf;</p>
              </li>
              <li>
                <h5 class="fs-0 mb-0"><a class="text-600" href="#!">Merry Christmas From the Falcon Team.</a></h5>
                <p class="text-600 opacity-50">Dec 25 &bull; 2min read</p>
              </li>
              <li>
                <h5 class="fs-0 mb-0"><a class="text-600" href="#!">The New Falcon Theme</a></h5>
                <p class="text-600 opacity-50">Dec 23 &bull; 10min read </p>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<%# 网站导航 结束 %>

<%# 展列柜 开始 %>
<section id="about" class="bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="fs-2 fs-sm-4 fs-md-5">Here's what's in it for you</h1>
        <p class="lead">Things you will get right out of the box with Falcon.</p>
      </div>
    </div>
    <div class="row mt-6">

      <div class="col-lg-4">
        <div class="card card-span h-100">
          <div class="card-span-img">
            <span class="fab fa-sass fs-4 text-info"></span>
          </div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Bootstrap 4.3.1</h5>
            <p>Build your webapp with the world's most popular front-end component library along with Falcon's 32 sets of carefully designed elements.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img">
            <span class="fab fa-node-js fs-5 text-success"></span>
          </div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">SCSS & Javascript files</h5>
            <p>With your purchased copy of Falcon, you will get all the uncompressed & documented SCSS and Javascript source code files.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img">
            <span class="fab fa-gulp fs-6 text-danger"></span>
          </div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Gulp based workflow</h5>
            <p>All the painful or time-consuming tasks in your development workflow such as compiling the SCSS or transpiring the JS are automated.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<%# 展列柜 结束 %>

<%# 轮播 开始 %>
<section class="bg-200 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-xl-8">
        <div class="owl-carousel owl-theme owl-theme-dark" data-options='{"margin":30,"nav":true,"autoplay":true,"autoplayHoverPause":true,"loop":true,"dots":false,"items":1}'>
          <div class="px-5 px-sm-6">
            <p class="fs-sm-1 fs-md-2 font-italic text-dark">Falcon is the best option if you are looking for a theme built with Bootstrap. On top of that, Falcon's creators and support staff are very brilliant and attentive to users' needs.</p>
            <p class="fs-0 text-600">- Scott Tolinski, Web Developer</p>
            <%= image_pack_tag 'google.png', class: 'w-auto mx-auto', height: 45, alt: 'Google' %>
          </div>
          <div class="px-5 px-sm-6">
            <p class="fs-sm-1 fs-md-2 font-italic text-dark">We've become fanboys! Easy to change the modular design, great dashboard UI, enterprise-class support, fast loading time. What else do you want from a Bootstrap Theme?</p>
            <p class="fs-0 text-600">- Jeff Escalante, Developer</p>
            <%= image_pack_tag 'netflix.png', class: 'w-auto mx-auto', height: 30, alt: 'Netflix' %>
          </div>
          <div class="px-5 px-sm-6">
            <p class="fs-sm-1 fs-md-2 font-italic text-dark">When I first saw Falcon, I was totally blown away by the care taken in the interface. It felt like something that I'd really want to use and something I could see being a true modern replacement to the current class of Bootstrap themes.</p>
            <p class="fs-0 text-600">- Liam Martens, Designer</p>
            <%= image_pack_tag 'paypal.png', class: 'w-auto mx-auto', height: 40, alt: 'Paypal' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%# 轮播 结束 %>

<%# 网站导航 开始 %>
<section id="contact" class="bg-dark pt-8 pb-4">
  <div class="container">
    <%# 返回顶部 %>
    <div class="position-absolute btn-back-to-top bg-dark">
      <a class="text-600" href="#banner" data-fancyscroll="data-fancyscroll">
        <span class="fas fa-chevron-up" data-fa-transform="rotate-45"></span>
      </a>
    </div>

    <div class="row">
      <%# 网站描述 %>
      <div class="col-lg-4">
        <h5 class="text-uppercase text-white opacity-85 mb-3">Our Mission</h5>
        <p class="text-600">Falcon enables front end developers to build custom streamlined user interfaces in a matter of hours, while it gives backend developers all the UI elements they need to develop their web app. And it's robust design can be easily integrated with backends whether your app is based on ruby on rails, laravel, express or any other serverside system.</p>
        <div class="icon-group mt-4"><a class="icon-item bg-white text-facebook" href="#!"><span class="fab fa-facebook-f"></span></a>
          <a class="icon-item bg-white text-twitter" href="#!"><span class="fab fa-twitter"></span></a>
          <a class="icon-item bg-white text-google-plus" href="#!"><span class="fab fa-google-plus-g"></span></a>
          <a class="icon-item bg-white text-linkedin" href="#!"><span class="fab fa-linkedin-in"></span></a>
          <a class="icon-item bg-white" href="#!"><span class="fab fa-medium-m"></span></a></div>
      </div>

      <%# 导航分组 %>
      <div class="col pl-lg-6 pl-xl-8">
        <div class="row mt-5 mt-lg-0">
          <%# 公司信息 %>
          <div class="col-6 col-md-3">
            <h5 class="text-uppercase text-white opacity-85 mb-3">Company</h5>
            <ul class="list-unstyled">
              <li class="mb-1"><a class="text-600" href="#!">About</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Contact</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Careers</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Blog</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Terms</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Privacy</a></li>
              <li><a class="text-600" href="#!">Imprint</a></li>
            </ul>
          </div>
          <%# 产品信息 %>
          <div class="col-6 col-md-3">
            <h5 class="text-uppercase text-white opacity-85 mb-3">Product</h5>
            <ul class="list-unstyled">
              <li class="mb-1"><a class="text-600" href="#!">Features</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Roadmap</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Changelog</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Pricing</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Docs</a></li>
              <li class="mb-1"><a class="text-600" href="#!">System Status</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Agencies</a></li>
              <li class="mb-1"><a class="text-600" href="#!">Enterprise</a></li>
            </ul>
          </div>
          <%# 新闻信息 %>
          <div class="col mt-5 mt-md-0">
            <h5 class="text-uppercase text-white opacity-85 mb-3">From the Blog</h5>
            <ul class="list-unstyled">
              <li>
                <h5 class="fs-0 mb-0"><a class="text-600" href="#!">New components are ready to publish!</a></h5>
                <p class="text-600 opacity-50">Jan 15 &bull; 8min read </p>
              </li>
              <li>
                <h5 class="fs-0 mb-0"><a class="text-600" href="#!">January '19 New Features Newsletter</a></h5>
                <p class="text-600 opacity-50">Jan 5 &bull; 3min read &starf;</p>
              </li>
              <li>
                <h5 class="fs-0 mb-0"><a class="text-600" href="#!">Merry Christmas From the Falcon Team.</a></h5>
                <p class="text-600 opacity-50">Dec 25 &bull; 2min read</p>
              </li>
              <li>
                <h5 class="fs-0 mb-0"><a class="text-600" href="#!">The New Falcon Theme</a></h5>
                <p class="text-600 opacity-50">Dec 23 &bull; 10min read </p>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<%# 网站导航 结束 %>
