<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr" class="navbar-vertical-collapsed">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= ENV['APP_NAME'] %></title>

    <%= favicon_pack_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
  </head>

  <%= yield %>

</html>