<%= render 'layouts/frame' do %>
  <body>
    <main class="main" id="top">
      <%# 常规页面需要包裹 %>
      <div class="container" data-layout="container">
        <%# 垂直导航 %>
        <%= render 'layouts/application/sidebar' %>

        <div class="content">
          <%# 顶部导航 %>
          <%= render 'layouts/application/navbar' %>
          <%# 面包屑导航 %>
          <%= render 'layouts/application/breadcrumb' %>

          <%= yield %>

          <%= render 'layouts/application/footer' %>
        </div>
      </div>
    </main>

    <%= render 'layouts/common/toast' %>
    <%= render 'layouts/common/modal' %>
  </body>
<% end %>
