<%= render 'layouts/frame' do %>
  <body data-spy="scroll" data-target="#static-scroll">
    <main class="main" id="top">
      <%= render 'layouts/static/navbar' %>
      
      <%= yield %>

      <%= render 'layouts/static/footer' %>
      <%= render 'layouts/common/modal' %>
    </main>
    <%= render 'layouts/common/toast' %>
  </body>
<% end %>
